<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>
      Hi! I'm a mobile &amp; web app developer based in Atlanta.
    </p>
    <p>
      By day I work as a software developer in test at <a href="https://www.ncrsilver.com/" target="_blank">NCR Silver</a>, by night I leverage side projects to gain new software development skills. Check out my <a href="http://resume.kmon.me" target="_blank">resume</a> to learn more.
    </p>
    <p>
      You can find me at various local Meetups, running in preparation for my next race, or sharing code on <a href="https://github.com/kanemontreuil">GitHub</a>.
    </p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Articles</h2>
    <hr>
    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b %d")%></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Projects</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d")%></p>
    <% end %>
  </div>
</div>
